<div fxLayout="row warp" fxLayoutAlign="center" style="height: 100%;">
  <div fxFlex="25%" fxFlex.xs="90%" fxLayoutAlign="center center" align="center">

    <mat-card class="mat-elevation-z3" style="width: 400px;">
      <mat-card-content>
        <div fxFlex="100%" fxFlex.xs="100%">

          <div align="center">
            <img src="./assets/images/logo.png" style="width: 60px;">
          </div>
          <h2 mat-dialog-title align="center">
            <b>Register</b>
          </h2>
          <form class="login-main-form" name="form" (ngSubmit)="(f.form.valid) && submitRegister()" #f="ngForm">
            <mat-dialog-content class="mat-typography">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username or E-mail" type="text" name="username"
                  [(ngModel)]="form.username" #username="ngModel" required />
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="รหัสผ่าน" type="password" name="password"
                  [(ngModel)]="form.password" #password="ngModel" required />
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm-Password </mat-label>
                <input matInput placeholder="รหัสผ่าน" type="password" name="repassword"
                  [(ngModel)]="form.repassword" #repassword="ngModel" required
                    (keyup)="checkPassword(form.password, form.repassword)"
                  />
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <div style="color: red;" align="center" *ngIf="isLoginFailed">
                <span class="material-icons-outlined" style="font-size: 15px">
                  info
                </span>
                {{errorMessage}}
              </div>
              <br>
              <div align="center">

              </div>
              <br>
            </mat-dialog-content>
            <mat-dialog-actions align="center">
              <button mat-stroked-button color="warn" routerLink="/login">Cancel</button>
              &nbsp;
              <button mat-button mat-raised-button color="primary" type="submit">Register</button>
            </mat-dialog-actions>
          </form>

        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
