<div fxLayoutAlign="center center" fxLayout="row wrap" style="height: 100%;" fxFlex="100%" style="padding-top:20px">
  <div fxFlex="65%" fxFlex.xs="90%">
    <div fxLayout="row warp" fxLayoutGap="8px grid">
      <div fxFlex="100%" fxLayoutAlign="center center">
      </div>

      <div fxFlex="100%" fxFlex.xs="100%" fxLayoutAlign="center">
        <img src="assets/images/banner.jpg">
      </div>

      <div fxFlex="33.3%" fxFlex.xs="100%" *ngIf="!check_register">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>Register information before donation</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%" routerLink="donor">
              Register information before donation
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.3%" fxFlex.xs="100%" *ngIf="check_register">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>Change Register Data</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%" routerLink="donor">
              Change Register Data
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.3%" fxFlex.xs="100%" *ngIf="!check_appointment">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>Make an appointment</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%" routerLink="booking">
              Make an appointment
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.3%" fxFlex.xs="100%" *ngIf="check_appointment">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>Appointment</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%" routerLink="que">
              Appointment
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.3%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>Health Check Result</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%" routerLink="status">
              Health Check Result
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
