<div fxLayoutAlign="center center" fxLayout="row wrap" style="height: 100%;" fxFlex="100%" style="padding-top:20px">
  <div fxFlex="65%" fxFlex.xs="90%">
    <div fxLayout="row warp" fxLayoutGap="8px grid">
      <div fxFlex="100%">
        <h2 style="font-size: 3.5em; color:red" fxLayoutAlign="center">
          Bloodee
        </h2>
      </div>
      <div fxFlex="100%" fxFlex.xs="100%" fxLayoutAlign="center">

        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              {{
              carousel_text[carousel].title
              }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2 fxLayoutAlign="center" style="font-size: 2em;">
              {{
              carousel_text[carousel].description
              }}
            </h2>
            <h4 fxLayoutAlign="end" style="font-size: 1.5em;">
              {{carousel_text[carousel].subDescription}}
            </h4>
          </mat-card-content>
          <mat-card-actions>
            <div fxLayout="row warp" fxLayoutGap="8px grid" fxLayoutAlign="center">
              <div *ngFor="let item of carousel_text;let i = index">
                <!-- icon color gray on normal and black on i=index -->
                <mat-icon
                  *ngIf="i != carousel"
                  (click)="carousel = i"
                  style="color: gray; cursor: pointer;"
                >
                  circle
                </mat-icon>
                <mat-icon
                  *ngIf="i == carousel"
                  style="color: black; "
                >
                  circle
                </mat-icon>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="33.3%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>พร้อมบริจาคเลือด</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%">
              พร้อมบริจาคเลือด
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.3%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>นัดหมายบริจาค</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%">
              นัดหมายบริจาค
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.3%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z3" fxFlex="100%">
          <mat-card-header>
            <mat-card-title>
              <h2>สถานะ</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" fxFlex="100%">
              สถานะ
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
