<mat-toolbar class="app-toolbar">
  <div fxShow="true" fxHide.gt-md="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxShow="true" fxHide.lt-lg="true">
    <!-- All User -->
    <a mat-button class="toolbar-button" routerLink="/">
      <!-- logo -->
      <!-- styling -->
      <span class="material-icons-outlined">home</span> หน้าแรก</a>

    <!-- All User -->

  </div>
  <!-- logo -->
  <span class="web-spacer">
  </span>
  <a routerLink="/" class="logo" style="margin-top: 3px; width:75px ;margin-right:3pxp;padding-left:21px">
    <img src="assets/images/logo2.png" alt="logo" width="150px" height="50px">
  </a>
  <span class="web-spacer"></span>
  <a mat-button class="toolbar-button" routerLink="/login" *ngIf="!isLogin"><span
      class="material-icons-outlined">login</span>
    เข้าสู่ระบบ</a>
  <a mat-button class="toolbar-button" (click)="logout()" *ngIf="isLogin">
    <span class="material-icons-outlined">logout</span>
    <span fxShow="true" fxHide.lt-lg="true">
      ออกจากระบบ
    </span>
  </a>
</mat-toolbar>

<mat-sidenav-container class="main-fx" fullscreen>
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-md="true"
    class="sidenav-link" (click)="sidenav.toggle()">
    <div fxLayout="column">
      <!-- All User -->

      <a mat-button class="sidebar-button" routerLink="/">
        <!-- logo img -->

        <span class="material-icons">home</span> หน้าแรก</a>
      <!-- All User -->

    </div>
    <hr width="90%">
    <div fxLayout="column">
      <a mat-button class="sidebar-button" routerLink="/login"><span class="material-icons">login</span>
        เข้าสู่ระบบ</a>
    </div>
  </mat-sidenav>
  <!-- Data in page -->
  <mat-sidenav-content fxLayoutAlign="center" fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.xs="100%" style="height: 100vh">
      <router-outlet></router-outlet>
    </div>
    <!-- Footer -->

  </mat-sidenav-content>
</mat-sidenav-container>
