<div fxLayoutAlign="center center" fxLayout="row wrap" style="height: 100%;" fxFlex="100%"
  style="padding-top:20px ;padding-bottom:20px;">
  <div fxFlex="80%" fxFlex.xs="90%">
    <mat-stepper [linear]="true" #stepper orientation="vertical">
      <mat-step [stepControl]="f.control">
        <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && firstpagenext(stepper,f)" ng-submit>
          <ng-template matStepLabel>Personal Information</ng-template>
          <ng-template matStepContent>
            <div fxLayout="row warp" fxLayoutGap="8px grid">
              <div fxFlex="100%">
                <mat-card>
                  <!-- Personal Information
                ชื่อ นามสกุล เลข ปชช  -->
                  <mat-card-title>
                    <h2>Personal Information</h2>
                  </mat-card-title>
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                      <!-- prefix -->
                      <div fxFlex="33%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-select placeholder="Prefix" required [(ngModel)]="form.pname" #pname="ngModel"
                            name="pname">
                            <mat-option value="1">Mr.</mat-option>
                            <mat-option value="2">Mrs.</mat-option>
                            <mat-option value="3">Ms.</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div fxFlex="33%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput required placeholder="Name" [(ngModel)]="form.fname" #fname="ngModel"
                            name="fname">
                        </mat-form-field>
                      </div>
                      <div fxFlex="33%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput required placeholder="Surname" [(ngModel)]="form.lname" #lname="ngModel"
                            name="lname">
                        </mat-form-field>
                      </div>
                      <div fxFlex="50%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput required placeholder="ID number" [(ngModel)]="form.czid"
                            mask="0-0000-00000-00-0" #czid="ngModel" name="czid">
                        </mat-form-field>
                      </div>
                      <div fxFlex="50%" fxFlex.xs="100%">
                        <mat-form-field (click)="picker.open()">
                          <input matInput [matDatepicker]="picker" placeholder="Birthday" required readonly="true"
                            [(ngModel)]="form.dob" #dob="ngModel" name="dob">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <!-- เพศ -->
                      <div fxFlex="50%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-select placeholder="Gender" required [(ngModel)]="form.sex" #sex="ngModel" name="sex">
                            <mat-option value="1">Male</mat-option>
                            <mat-option value="2">Female</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- น้ำหนัก -->
                      <div fxFlex="50%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput placeholder="Weight" type="number" [(ngModel)]="form.weight" #weight="ngModel"
                            name="weight">
                        </mat-form-field>
                      </div>
                      <!-- ที่อยู่  -->
                      <div fxFlex="100%" fxFlex.xs="100%">
                        <mat-form-field>
                          <textarea matInput placeholder="Address" required [(ngModel)]="form.address"
                            #address="ngModel" name="address"></textarea>
                        </mat-form-field>
                      </div>
                      <!-- จังหวัด -->
                      <div fxFlex="33%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-select placeholder="Province" required [(ngModel)]="form.province" #province="ngModel"
                            name="province" (selectionChange)="callDistrict()">
                            <mat-option [value]="item.id" *ngFor="let item of provinces">{{item.name_en}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- อำเภอ -->
                      <div fxFlex="33%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-select placeholder="District" required [(ngModel)]="form.district" #district="ngModel"
                            name="district" (selectionChange)="callSubDistrict()" [disabled]="districts.length == 0">
                            <mat-option [value]="item.id" *ngFor="let item of districts">{{item.name_en}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- ตำบล -->
                      <div fxFlex="33%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-select placeholder="Subdistrict" required [(ngModel)]="form.subdistrict"
                            #subdistrict="ngModel" name="subdistrict" [disabled]="subdistricts.length == 0">
                            <mat-option [value]="item.id"
                              *ngFor="let item of subdistricts">{{item.name_en}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- mobile and email -->
                      <div fxFlex="50%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput placeholder="Mobile" mask="000-000-0000" required [(ngModel)]="form.mobile"
                            #mobile="ngModel" name="mobile">
                        </mat-form-field>
                      </div>
                      <div fxFlex="50%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput placeholder="Email" type="email" [(ngModel)]="form.email" #email="ngModel"
                            name="email">
                        </mat-form-field>
                      </div>
                      <!-- อาชีพ using auto complete -->
                      <div fxFlex="100%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-label>Career</mat-label>
                          <input type="text" placeholder="Career" aria-label="Number" matInput [matAutocomplete]="auto"
                            required [(ngModel)]="form.occupation" #occupation="ngModel" name="occupation">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option value="Student">
                              Student
                            </mat-option>
                            <mat-option value="Personal Business">
                              Personal Business
                            </mat-option>
                            <mat-option value="Freelance">
                              Freelance
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <!-- ชื่อนามสกุลเดิม  คำนำหน้าชื่อ ชื่อ นามสกุล-->
                      <div fxFlex="33.3%" fxFlex.xs="100%">
                        <mat-form-field>
                          <mat-select placeholder="Old Prename" [(ngModel)]="form.old_pname" #old_pname="ngModel"
                            name="old_pname">
                            <mat-option value="1">Mr.</mat-option>
                            <mat-option value="2">Mrs.</mat-option>
                            <mat-option value="3">Ms.</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div fxFlex="33.3%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput placeholder="Old Name" [(ngModel)]="form.old_fname" #old_fname="ngModel"
                            name="old_fname">
                        </mat-form-field>
                      </div>
                      <div fxFlex="33.3%" fxFlex.xs="100%">
                        <mat-form-field>
                          <input matInput placeholder="Old Surname" [(ngModel)]="form.old_lname" #old_lname="ngModel"
                            name="old_lname">
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                  <!-- style item center -->
                  <mat-card-actions style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  ">

                    <button mat-raised-button color="primary" (click)="firstpagenext(stepper,f)">Next</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </ng-template>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Health Checkup Package</ng-template>
        <div fxLayout="row warp" fxLayoutGap="8px grid">
          <div fxFlex="100%" fxFlex.xs="100%">
            <mat-card>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="8px grid">
                  <div fxFlex="100%">
                    <!-- checkbox for loop package_list  -->
                    <!-- make checkbox in row -->
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                      <!-- radio -->
                      <div fxFlex="100%" fxFlex.xs="100%">
                        <div fxLayout="row wrap" fxLayoutGap="8px grid">
                          <div fxFlex="100%" fxFlex.xs="100%">
                            <mat-radio-group [(ngModel)]="form2.package_id" #package_id="ngModel" name="package_id">
                              <div fxLayout="row wrap" fxLayoutGap="8px grid">

                                <mat-radio-button value="0" fxFlex="100%">
                                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                                    <div fxFlex="100%" fxFlex.xs="100%">
                                      <h2 style="font-weight: bold; font-size:1.2em;">
                                        Stay in Touch<br>
                                        0 Baht
                                      </h2>
                                    </div>
                                  </div>
                                </mat-radio-button>
                                <mat-radio-button value="1" fxFlex="100%">
                                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                                    <div fxFlex="100%" fxFlex.xs="100%">
                                      <h2 style="font-weight: bold; font-size:1.2em;">
                                        Stay Tuned <br>
                                        1,000 Baht
                                      </h2>
                                    </div>
                                  </div>
                                </mat-radio-button>
                                <mat-radio-button value="2" fxFlex="100%">
                                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                                    <div fxFlex="100%" fxFlex.xs="100%">
                                      <h2 style="font-weight: bold;font-size:1.2em;">
                                        Stay Healthy <br>3,000 Baht
                                      </h2>
                                    </div>
                                  </div>
                                </mat-radio-button>
                                <mat-radio-button value="3" fxFlex="100%">
                                  <div fxLayout="row wrap" fxLayoutGap="8px grid">
                                    <div fxFlex="100%" fxFlex.xs="100%">
                                      <h2 style="font-weight: bold;font-size:1.2em;">
                                        Stay Fit<br>5,000 Baht
                                      </h2>
                                    </div>
                                  </div>
                                </mat-radio-button>
                              </div>
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutGap="8px grid">
                        <div fxFlex="100%" fxFlex.xs="100%" fxLayoutAlign="center">
                          <h2>
                            <span style="font-weight:bold">Benefit : </span>
                            <!-- description with if validate -->
                            <span *ngIf="form2.package_id == '0'">Non Benefit</span>
                            <span *ngIf="form2.package_id == '1'"> Services after donating blood, such as
                              private massage services, food and beverage services, waiting area services, etc.</span>
                            <span *ngIf="form2.package_id == '2'"> Services after donating blood such as private
                              massage services, food and beverage services, accommodation services, etc., along with a
                              comprehensive health check-up package with the hospital that is a blood donation
                              center.</span>
                            <span *ngIf="form2.package_id == '3'"> Services after donating blood, such as
                              private massage services, food and beverage services, accommodation services, etc., along
                              with comprehensive health care services. From food care to daily life</span>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions style="display: flex;
                  justify-content: center;
                  align-items: center;
                ">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="g.control">
        <form #g="ngForm" name="form" (ngSubmit)="g.form.valid">
          <ng-template matStepLabel>Profile information</ng-template>
          <ng-template matStepContent>

            <div fxLayout="row warp" fxLayoutGap="8px grid">
              <div fxFlex="100%" fxFlex.xs="100%">
                <mat-card>
                  <mat-card-content>
                    <div fxLayout="row warp" fxLayoutGap="8px grid">
                      <div fxFlex="100%">
                        <h2>General Health
                        </h2>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You feel fine, healthy
                        and ready to donate blood </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_1 = true"
                          [style.background]="form2.q_1 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_1 = false"
                          [style.background]="form2.q_1 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You get enough sleep
                        (not less than 5 hours) </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_2 = true"
                          [style.background]="form2.q_2 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_2 = false"
                          [style.background]="form2.q_2 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You eat foods that are high in
                        fat.
                        within the past 6 hours </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_3 = true"
                          [style.background]="form2.q_3 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_3 = false"
                          [style.background]="form2.q_3 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You have a congenital disease or
                        have ever had a disease</div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_4 = true"
                          [style.background]="form2.q_4 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_4 = false"
                          [style.background]="form2.q_4 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">you take antibiotics
                        (Disinfectant) within the past 7 days
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_5 = true"
                          [style.background]="form2.q_5 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_5 = false"
                          [style.background]="form2.q_5 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="100%">
                        <!-- input box -->
                        <mat-form-field *ngIf="form2.q_5 == true" fxFlex="100%" fxFlex.xs="100%">
                          <input matInput placeholder="Please specify the name of the drug"
                            [(ngModel)]="form2.q_5_detail" name="q_5_detail" #q_5_detail="ngModel">
                        </mat-form-field>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You take aspirin
                        Muscle relaxants, joint pain relievers, or other medications
                        other
                        in the same group within the last 2 days </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_6 = true"
                          [style.background]="form2.q_6 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_6 = false"
                          [style.background]="form2.q_6 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Do you use drugs/herbs/
                        Dietary supplements containing biotin as a regular constituent </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_7 = true"
                          [style.background]="form2.q_7 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_7 = false"
                          [style.background]="form2.q_7 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="100%">
                        <!-- input text -->
                        <mat-form-field *ngIf="form2.q_7 == true" fxFlex="100%" fxFlex.xs="100%">
                          <input matInput
                            placeholder="Identify Medications/Herbs/Supplements that regularly contain biotin."
                            [(ngModel)]="form2.q_7_detail" name="q_7_detail" #q_7_detail="ngModel">
                        </mat-form-field>

                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you consumed alcohol within
                        24
                        hours ago </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_8 = true"
                          [style.background]="form2.q_8 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_8 = false"
                          [style.background]="form2.q_8 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you ever donated blood progenitor shells in the past 6 months?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_9 = true"
                          [style.background]="form2.q_9 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_9 = false"
                          [style.background]="form2.q_9 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="100%" *ngIf="form.sex == '2'">
                        <h2>Pregnancy/Maternity
                        </h2>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center" *ngIf="form.sex == '2'">
                        Have you ever been pregnant
                        or miscarriage before </div>
                      <div fxFlex="15%" fxFlex.xs="50%" *ngIf="form.sex == '2'">
                        <mat-card style="text-align: center;" (click)="form2.q_10 = true"
                          [style.background]="form2.q_10 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%" *ngIf="form.sex == '2'">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_10 = false"
                          [style.background]="form2.q_10 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center" *ngIf="form.sex == '2'">
                        You are pregnant
                        or breastfeeding </div>
                      <div fxFlex="15%" fxFlex.xs="50%" *ngIf="form.sex == '2'">
                        <mat-card style="text-align: center;" (click)="form2.q_11 = true"
                          [style.background]="form2.q_11 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%" *ngIf="form.sex == '2'">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_11 = false"
                          [style.background]="form2.q_11 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center" *ngIf="form.sex == '2'">
                        You have given birth or miscarriage within 6
                        a month ago </div>
                      <div fxFlex="15%" fxFlex.xs="50%" *ngIf="form.sex == '2'">
                        <mat-card style="text-align: center;" (click)="form2.q_12 = true"
                          [style.background]="form2.q_12 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%" *ngIf="form.sex == '2'">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_12 = false"
                          [style.background]="form2.q_12 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="100%">
                        <h2>Sexual history: for all sexes </h2>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you or your partner ever had sex with: someone other than your partner
                        /
                        Sex workers / drug users / people who may be infected with HIV
                        or other sexually transmitted diseases </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_13 = true"
                          [style.background]="form2.q_13 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_13 = false"
                          [style.background]="form2.q_13 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you ever taken medicine to treat or prevent HIV infection? </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_14 = true"
                          [style.background]="form2.q_14 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_14 = false"
                          [style.background]="form2.q_14 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        You are a man who has had sex with men. </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_15 = true"
                          [style.background]="form2.q_15 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_15 = false"
                          [style.background]="form2.q_15 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="100%">
                        <h2>History of risk of various infections</h2>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You have filling your teeth and
                        scaling within 3 past day / tooth extraction, root canal treatment within the past 7 days
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_16 = true"
                          [style.background]="form2.q_16 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_16 = false"
                          [style.background]="form2.q_16 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You have filling your teeth and
                        scaling within 3 past day / tooth extraction, root canal treatment within the past 7 days
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_17 = true"
                          [style.background]="form2.q_17 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_17 = false"
                          [style.background]="form2.q_17 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever had your ears
                        pierced, skin pierced, tattooed, tattoo removal, acupuncture, within 4 months ago?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_18 = true"
                          [style.background]="form2.q_18 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_18 = false"
                          [style.background]="form2.q_18 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You have had minor surgery within
                        7 days ago
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_19 = true"
                          [style.background]="form2.q_19 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_19 = false"
                          [style.background]="form2.q_19 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You have had major surgery within
                        6 months ago
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_20 = true"
                          [style.background]="form2.q_20 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_20 = false"
                          [style.background]="form2.q_20 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever been sick and
                        received blood or blood components within the past 1 year?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_21 = true"
                          [style.background]="form2.q_21 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_21 = false"
                          [style.background]="form2.q_21 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever received an organ
                        transplant or hematopoietic stem cells?

                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_22 = true"
                          [style.background]="form2.q_22 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_22 = false"
                          [style.background]="form2.q_22 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever been stabed by a
                        needle stained with black blood in the past 1 year?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_23 = true"
                          [style.background]="form2.q_23 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_23 = false"
                          [style.background]="form2.q_23 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever had hepatitis after
                        being 11 years old?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_24 = true"
                          [style.background]="form2.q_24 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_24 = false"
                          [style.background]="form2.q_24 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Your partner or someone in your family had hepatitis in the period 1 year ago
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_25 = true"
                          [style.background]="form2.q_25 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_25 = false"
                          [style.background]="form2.q_25 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you ever been diagnosed as a carrier of hepatitis?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_26 = true"
                          [style.background]="form2.q_26 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_26 = false"
                          [style.background]="form2.q_26 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever contracted malaria
                        for within 3 years ago?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_27 = true"
                          [style.background]="form2.q_27 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_27 = false"
                          [style.background]="form2.q_27 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you ever been to an area with high levels of malaria in the past 1 year?

                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_28 = true"
                          [style.background]="form2.q_28 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_28 = false"
                          [style.background]="form2.q_28 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever had influenza /
                        Dengue Fever / Chikungunya / Zika or COVID-19 in the past 1 month
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_29 = true"
                          [style.background]="form2.q_29 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_29 = false"
                          [style.background]="form2.q_29 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you received a prophylactic vaccine in the past 2 months?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_30 = true"
                          [style.background]="form2.q_30 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_30 = false"
                          [style.background]="form2.q_30 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You received the serum within 1
                        years ago
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_31 = true"
                          [style.background]="form2.q_31 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_31 = false"
                          [style.background]="form2.q_31 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">You have a history of drug abuse
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_32 = true"
                          [style.background]="form2.q_32 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_32 = false"
                          [style.background]="form2.q_32 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        Have you ever been detained or imprisoned in a prison for more than 72 consecutive hours in the
                        past 1 year?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_33 = true"
                          [style.background]="form2.q_33 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_33 = false"
                          [style.background]="form2.q_33 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">Have you ever lost weight, had a
                        fever Enlarged lymph nodes for no known reason in term 3 Last month or ever tested positive for
                        HIV?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_34 = true"
                          [style.background]="form2.q_34 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_34 = false"
                          [style.background]="form2.q_34 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">During 1980 - 1996, have you ever
                        lived in any of these countries in total of more than 3 month: england northern ireland scotland
                        wales?
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_35 = true"
                          [style.background]="form2.q_35 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_35 = false"
                          [style.background]="form2.q_35 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">During 1980 - 2001, you used to
                        live in France and Ireland for a cumulative period of more than 5 years
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_36 = true"
                          [style.background]="form2.q_36 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_36 = false"
                          [style.background]="form2.q_36 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                      <div fxFlex="70%" fxFlex.xs="100%" fxLayoutAlign="start center">
                        I am confident that my blood was safe for my patients. </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card style="text-align: center;" (click)="form2.q_37 = true"
                          [style.background]="form2.q_37 == true ? '#73c7af' : '#ffffff' ">
                          Yes
                        </mat-card>
                      </div>
                      <div fxFlex="15%" fxFlex.xs="50%">
                        <mat-card fxLayoutALign="center" style="text-align: center;" (click)="form2.q_37 = false"
                          [style.background]="form2.q_37 == false ? '#f8a0a0' : '#ffffff' ">
                          No
                        </mat-card>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                ">
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="next(stepper)">Next</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>

          </ng-template>
        </form>
      </mat-step>
      <mat-step [stepControl]="h.control">
        <ng-template matStepLabel>Blood Donation Center</ng-template>
        <div fxLayout="row warp" fxLayoutGap="8px grid">
          <div fxFlex="100%" fxFlex.xs="100%">
            <mat-card>
              <form #h="ngForm" name="form" (ngSubmit)="h.form.valid && next2(stepper)" ng-submit>
                <mat-card-content>
                  <!-- select label Donation Center -->
                  <div fxLayout="row" fxLayoutGap="8px grid">
                    <div fxFlex="100%" fxFlex.xs="100%">
                      <mat-form-field>
                        <mat-label>Blood Donation Center</mat-label>
                        <mat-select [(value)]="form2.node" required>
                          <mat-option *ngFor="let item of nodes" [value]="item.id">
                            {{item.location_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-actions style="display: flex;
                  justify-content: center;
                  align-items: center;
                ">
                  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                  <button mat-raised-button color="primary" type="submit">Next</button>
                </mat-card-actions>
              </form>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm</ng-template>
        <div fxLayout="row warp" fxLayoutGap="8px grid">
          <div fxFlex="100%" fxFlex.xs="100%">
            <mat-card>
              <mat-card-content>
                <h2 style="font-weight: bold;">
                  I hereby confirm that I have provided accurate information and answered truthfully.
                  truthfully.
                </h2>
                <p>

                  I would like to donate blood for voluntary use or medical research* and acknowledged that my blood
                  must be tested for syphilis infection Hepatitis B, C and HIV before being used for medical purposes. I
                  am confident that my blood is safe for the patients. However, I have already received information
                  about the benefits and the likelihood of side effects of donating blood and am willing to donate blood
                  as I acknowledge the purposes of collection, processing, use and fully disclose personal information
                  for medical research and blood services
                  *Public benefit medical research that has passed a review process and has been approved by the
                  Research Ethics Committee of the National Blood Center or other related organizations (The Medical
                  Council of Thailand's regulations concerning human beings, 1982)
                </p>
                <!-- approve checkbox -->
                <div fxLayout="row" fxLayoutGap="8px grid">
                  <div fxFlex="100%" fxFlex.xs="100%">
                    <mat-checkbox [(ngModel)]="form2.approve" required>I understand the conditions</mat-checkbox>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions style="display: flex;
                  justify-content: center;
                  align-items: center;
                ">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="confirmed()">Confirm</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

</div>
