.table {
  margin-bottom: 0;
  width: 100%;
  justify-items: center;
}

thead {
  background-color: #f5f5f5;
  color: #000;
  font-weight: bold;
  text-align: center;
}

tr {
  // make the table rows size to the content
  display: table;
  width: 100%;
  table-layout: fixed;
  // border: 1px solid #ddd;
  // make table row height the same as the table header
  height: 3em;

}
// tr for odd rows
tr:nth-child(odd) {
  background-color: #f5f5f5;
}

// tr for even rows
tr:nth-child(even) {
  background-color: #fff;
}

td {
  text-align: center;
  font-size: 1.25em;
}
